.axis path,.axis line{
			  fill: none;
			  stroke: #000;
			  shape-rendering: crispEdges;
			}
			.axis text {
				font-family: Lato;
				font-size: 13px;
			}
			.area {
			  fill: #A8C6FA;
			  stroke: #0000FF;
			  clip-path: url(#clip);
			}
			.tick text{
			  font-size: 12px;
			}

			.tick line{
			  opacity: 0.2;
			}
			
			.brush .extent {
			  stroke: #fff;
			  fill-opacity: .125;
			  shape-rendering: crispEdges;
			}
			.volume {
				stroke: none;
				clip-path: url(#clip);
				fill: rgba(27, 0, 254, 1);
			}