.container{
    display:table;
    width:45%;
    border-collapse: collapse;

    }
.heading{
     font-weight: bold;
     display:table-row;
     background-color:#D3D3D3;
     text-align: center;
     line-height: 25px;
     font-size: 14px;
     font-family:georgia;
     color:#000000;
	 border: 2px solid black;
    
}
.table-row{  
     display:table-row;
     text-align: center;
	 border: 2px solid black;
	 width:1000px;
}
.col{
display:table-cell;
}